<div class="card">
    <div class="card-header">
        <h2>Control configuration {{ control.name }}</h2>
    </div>
</div>


<div class="card-columns cols-2 row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2>Condition definitions</h2>
            </div>
    
            <div class="card-body">
    
                <form [formGroup]="controlForm" (ngSubmit)="0;">
    
                    <div *ngIf="conditionsConfiguration.controls?.length > 0" class="row">
                        <div class="col-sm-3">
                            <label>Device</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Operator</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Value</label>
                        </div>
                        <div class="col-sm-2">
                            <label>&nbsp;</label>
                        </div>
                    </div>
    
                    <div formArrayName="conditionsConfiguration">
                        <div *ngFor="let condition of conditionsConfiguration.controls; let i = index">
                            <div class="row" [formGroup]="condition">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <select formControlName="device" id="device" name="device" class="form-control" (change)="pullDevice(i)">
                                            <option *ngFor="let d of devices; let device_index = index" [value]="device_index">{{ d.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select formControlName="path" id="path" name="path" class="form-control" >
                                            <option *ngFor="let t of devices[condition.controls.device?.value]?.telemetry" [value]="t.name">{{ t.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select formControlName="operator" id="operator" name="operator" class="form-control" >
                                            <option value="eq">Equals</option>
                                            <option value="ne">Not</option>
                                            <option value="gt">Greater Than</option>
                                            <option value="le">Less Than</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="value" placeholder="" formControlName="value">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-outline-danger" (click)="removeCondition(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-block" (click)="addCondition()">Add</button>
                <button *ngIf="conditionsConfiguration.dirty" type="button"  class="btn btn-outline-primary btn-block" (click)="saveConditionsConfiguration()">Save changes</button>
            </div>
        </div>
    </div>

   <div class="col">
         <div class="card">
            <div class="card-header">
                <h2>Actions</h2>
            </div>
        
            <div class="card-body">
                <form [formGroup]="controlForm" (ngSubmit)="0;">
    
                    <div *ngIf="actionsConfiguration.controls?.length > 0" class="row">
                        <div class="col-md-3">
                            <label>Device</label>
                        </div>
                        <div class="col-md-3">
                            <label>Setting</label>
                        </div>
                        <div class="col-md-3">
                            <label>Value</label>
                        </div>
                    </div>
    
                    <div formArrayName="actionsConfiguration">
                        <div *ngFor="let action of actionsConfiguration.controls; let i = index">
                            <div class="row" [formGroup]="action">
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <select formControlName="device" id="device" name="device" class="form-control" >
                                            <option *ngFor="let d of devices; let device_index = index" [value]="device_index">{{ d.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <select formControlName="setting" id="setting" name="setting" class="form-control" >
                                            <option *ngFor="let s of devices[action.controls.device?.value]?.settings; let setting_index = index" [value]="setting_index">{{ s.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input *ngIf="devices.at(action.controls.device?.value)?.settings?.at(action.controls.setting?.value)?.type == 'number'" type="text" class="form-control" id="path" placeholder="123" formControlName="value">
                                        <label *ngIf="devices.at(action.controls.device?.value)?.settings?.at(action.controls.setting?.value)?.type == 'switch'" class="switch switch-label switch-pill switch-primary">
                                            <input type="checkbox" class="switch-input" checked formControlName="value">
                                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-outline-danger" (click)="removeAction(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-block" (click)="addAction()">Add</button>
                <button *ngIf="actionsConfiguration.dirty" type="button"  class="btn btn-outline-primary btn-block" (click)="saveActionsConfiguration()">Save changes</button>
            </div>
        </div>
    </div>
</div>