**/*/dist
**/*/node_modules
package-lock.json
server/package-lock.json

wicked_cli.log
node_modules
**/*/npm-debug.log
launchConfigurations
coverage
*.iml.
build
test_reports/
nvm/
manifests/
tests/
.DS_Store
.envkey
.bootstraprc
.cfignore
.editorconfig
.env
.eslint*
.gitignore
.nvmrc
.project
.histoy
.idea
.git
.git*
.publishrc
.travis.yml
.vscode
.github
bin
docker-compose*
Dockerfile