<div class="card">
    <div class="card-header">
        <h2>{{ device.name }}</h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm col-md">
                <div class="chart-wrapper">
                    <canvas #chartRef style="height:250px;margin-top:40px;"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md">
                Type: {{ device.type }}. Registered {{ device.registered }}.
            </div>
        </div>
    </div>
</div>

<div class="card-columns cols-2">
    <div class="card">
        <div class="card-header">
            <h2>Automated control definitions</h2>
        </div>

        <div class="card-body">

            <form [formGroup]="deviceForm" (ngSubmit)="2;">

                <div class="row">
                    <div class="col-sm-4">
                        <label>Condition</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Threshhold</label>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Action</label>
                    </div>
                    <div class="col-sm-2">
                        <label>&nbsp;</label>
                    </div>
                </div>

                <div formArrayName="automatedControls">
                    <div *ngFor="let automatedControl of automatedControls.controls; let i = index">
                        <div class="row" [formGroup]="automatedControl">
                            <div class="form-group col-sm-4">
                                <select class="form-control" id="condition" formControlName="condition">
                                    <option>Temparature below</option>
                                    <option>Temperature above</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="threshhold" placeholder="123" formControlName="threshhold">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <select class="form-control" id="action" formControlName="action">
                                    <option>Switch on</option>
                                    <option>Switch off</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-outline-danger" (click)="removeControl(i)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-primary btn-block" (click)="addControl()">Add</button>
            <button *ngIf="deviceForm.dirty" type="button"  class="btn btn-outline-primary btn-block" (click)="save()">Save changes</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Log</h2>
        </div>
    
        <div class="card-body">
            <div class="row">
                Here will be a log of all exchanged messages.
            </div>
        </div>
    </div>
</div>

