<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <div class="card">
        <div class="card-header">
          Add Device
        </div>
        <div class="card-body">
          <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Device name</label>
              <div class="col-md-9">
                <input formControlName="name" type="text" id="text-input" name="name" class="form-control" placeholder="Name">
                <span class="help-block">Chose unique name to find this device later</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Select device type</label>
              <div class="col-md-9">
                <select formControlName="type" id="select1" name="select1" class="form-control" >
                  <option value="0">Please select</option>
                  <option value="Thermostat">Thermostat</option>
                  <option value="Light switch">Light switch</option>
                  <option value="Custom">Custom</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Select device group</label>
              <div class="col-md-9">
                <select formControlName="group" id="group" name="group" class="form-control" >
                  <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Device MAC</label>
              <div class="col-md-9">
                <input formControlName="mac" type="text" id="text-input" name="text-input" class="form-control" placeholder="MAC" >
                <span class="help-block">System will allow pairing attempt from specified MAC</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
          </form>
        </div>
        <div class="card-footer">
          
        </div>
      </div>
    </div>
  </div>
</div>