<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <alert type="danger" *ngIf="error">
              Email address already registered.
            </alert>
            <div class="card-body p-4">
              <div *ngIf="completed">
                <alert type="success" *ngIf="completed">
                  Registration completed. You can access your account by logging in.
                </alert>
                <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
              </div>
              <form *ngIf="!completed" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input formControlName="email" type="text" class="form-control" placeholder="Email" autocomplete="email" required (focus)="hideError()">
                </div>
                <alert type="danger" *ngIf="email.touched && email.errors">
                  Invalid email address
                </alert>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="passwordOrigin" type="password" class="form-control" placeholder="Password" autocomplete="new-password" required (focus)="hideError()">
                </div>
                <alert type="danger" *ngIf="passwordOrigin.touched && passwordOrigin.errors">
                  Password is required
                </alert>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="passwordRepeat" type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required (focus)="hideError()">
                </div>
                <alert type="danger" *ngIf="passwordRepeat.touched && passwordRepeat.errors">
                  Passwords do not match.
                </alert>
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
